#ATTENTION - after settings complete you have to rename file into .env

# django settings secrets
SECRET_KEY=#dev-secret-key-change-me
ALLOWED_HOSTS=#127.0.0.1 localhost [::1] #for lockalhost
DEBUG=#True #for lockalhost

# email settings
EMAIL_PORT=#port number for your e-mail hosting
EMAIL_USE_TLS=#True or False
EMAIL_HOST=#host server example smtp.xxxx.com
GMAIL_HOST_USER=#e-mail example xxx@xxx.com
GMAIL_APP_PASSWORD=#email pass
ADMIN_EMAIL=#set admin email

# data base settings
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=cof_db
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432

# test database host (docker-compose.test.yml service name)
TEST_DATABASE_HOST=test-postgres
