{% extends "base.html" %}

{% block content %}
<h1>Your Cart</h1>
<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Price 1 psc</th>
            <th>Total items price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
            {% with product=item.product %}
            <tr>
                <td>{{ product.name }}</td>
                <td>
                    <form action="{% url 'cart_update' product.id %}" method="post">
                        {% csrf_token %}
                        <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
                        <button type="submit">Update</button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'cart_remove' product.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Remove</button>
                    </form>
                </td>
                <td class="num">{{ item.price }}</td>
                <td class="num">{{ item.total_price }}</td>
            </tr>
            {% endwith %}
        {% empty %}
            <tr>
                <td colspan="5">Your cart is empty</td>
            </tr>
        {% endfor %}
        {% if total_price %}
            <tr class="total">
                <td colspan="4">Total items quantity:</td>
                <td class="num">{{ cart|length }}</td>
            </tr>
            <tr class="total">
                <td colspan="4">Total:</td>
                <td class="num">{{ total_cart_price }}</td>
            </tr>
            <tr>
                <td colspan="4"><br></td>
            </tr>

            {% if applied_promo_name %}
                {% if applied_promo_status %}
                <tr class="total">
                    <td colspan="4">Applied promo: {{ applied_promo_name }}</td>
                </tr>
                <tr class="total">
                    <td colspan="4">YOUR discount:</td>
                    <td class="num">{{ discount_sum }}</td>
                </tr>
                <tr class="total">
                    <td colspan="4">TOTAL cart price with discount:</td>
                    <td class="num"><b>{{ total_price }}</b></td>
                </tr>
                {% else %}
                <tr class="total">
                    <td colspan="4">CAN'T apply promo: {{ applied_promo_name }} to your current CART</td>
                </tr>
                {% endif %}
            {% endif %}

            {% if not applied_promo_name %}
            <tr class="total">
                <td colspan="4">No promo applied</td>
            </tr>
            <tr class="total">
                <td>
                    <form action="{% url 'promo_apply' %}" method="post">
                    {% csrf_token %}
                    {{ promo_form.as_p }}
                    <button type="submit" class="button">Apply promo</button>
                    </form>
                </td>
            </tr>
            {% endif %}

        {% endif %}
    </tbody>
</table>

<form action="{% url 'cart_clear' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="button">Clear cart</button>
</form>

<p class="text-right">
    <a href="{% url 'catalog' %}" class="button light">GO shopping</a>
    <br>
    {% if cart.get_total_price %}
    <a href="{% url 'order_create' %}" class="button">Make order</a>
    {% endif %}
</p>
{% endblock %}